<footer class="container min-w-full bg-gray-900 text-center text-white">
  <div class="flex justify-center gap-5 p-2">
    <a
      href="https://twitter.com/Open_Bootcamp"
      target="_blank"
      type="button"
      class="m-1 text-white transition duration-150 ease-in-out focus:outline-none focus:ring-0"
    >
    </a>

    <a
      href="https://www.instagram.com/openbootcamp_/"
      target="_blank"
      type="button"
      class="m-1 text-white transition duration-150 ease-in-out focus:outline-none focus:ring-0"
    >
   
    </a>

    <a
      href="https://www.linkedin.com/school/openbootcamp-escuela/"
      target="_blank"
      type="button"
      class="m-1 text-white transition duration-150 ease-in-out focus:outline-none focus:ring-0"
    >
      <!-- <BsLinkedin class="transition-colors: mx-auto text-2xl text-slate-300 duration-300 hover:text-white" /> -->
    </a>

    <a
      href="https://github.com/fabioalcocer/anime-app.git"
      target="_blank"
      type="button"
      class="m-1 text-white transition duration-150 ease-in-out focus:outline-none focus:ring-0"
    >
     
    </a>
  </div>

  <div class="bg-gray-800 p-3 text-center">
    <a class="text-sm text-slate-400" href="https://bit.ly/3E5AGBt">
      © 2022 OpenBootcamp Community™.
    </a>
  </div>
</footer>
